<div class="card w-100 border-0 p-0 bg-white shadow-xss rounded-xxl">
    <div class="card-body h250 p-0 rounded-xxl overflow-hidden m-3">
        <img src="assets/public/images/cover/cover-user.jpg" alt="image">
    </div>
    <div class="card-body p-0 position-relative">
        <figure class="avatar position-absolute w100 z-index-1" style="top:-40px; left: 30px;"><img src="https://dummyimage.com/200x200/000/fff.png" alt="image" class="float-right p-1 bg-white rounded-circle w-100"></figure>
        <h4 class="fw-700 font-sm mt-2 mb-lg-5 mb-4 pl-15">Emir Salinas <span class="fw-500 font-xssss text-dark-500 mt-1 mb-3 d-block">master@mail.com</span></h4>
    </div>
</div>