<div class="nav-header bg-white shadow-xs border-0">
    <div class="nav-top">
        <a routerLink="/home"><i class="fa fa-globe text-success display1-size me-2 ms-0" aria-hidden="true"></i>
            <span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">App Univ.
            </span>
        </a>
        <a routerLink="/user" class="mob-menu ms-auto me-2"><i class="fa fa-user-circle text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
        <button class="nav-menu me-0 ms-2"></button>
    </div>
    <a routerLink="/user" class="p-0 ms-3 menu-icon ms-auto">
        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
    </a>
</div>