<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App Universidad - Registrate</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
</head>

<body class="color-theme-lightblue">
    <div class="main-wrap overflow-md-hidden">
        <div class="nav-header shadow-none border-0">
            <div class="nav-top w-100">
                <a href="#"><i class="fa fa-globe text-success display1-size me-2 ms-0"></i><span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">App Univ. </span> </a>
                <a routerLink="/login" class="header-btn d-none d-lg-block bg-dark fw-500 text-white font-xsss p-3 ms-auto w100 text-center lh-20 rounded-xl">Ingresar</a>
                <a routerLink="/register" class="header-btn d-none d-lg-block bg-current fw-500 text-white font-xsss p-3 ms-2 w100 text-center lh-20 rounded-xl">Registrate</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 d-none d-xl-block p-0 vh-100 bg-image-cover bg-no-repeat" style="background-image: url(assets/images/bg-login.jpg);"></div>
            <div class="col-xl-6   vh-md-100 align-items-center d-flex bg-white rounded-3 overflow-hidden">
                <div class="card shadow-none border-0 ms-auto me-auto login-card">
                    <div class="card-body rounded-0 text-left">
                        <h2 class="fw-700 display1-size display2-md-size mb-3 ">Inicio de Sesión</h2>
                        <form [formGroup]="fg">
                            <div class="form-group icon-input mb-2">
                                <input type="text" [class.is-invalid]="validarCampos('correo')" formControlName="correo" class=" ps-5 form-control text-grey-900 font-xss ls-3" placeholder="Correo Electrónico">
                                <i class="fa fa-envelope font-sm text-grey-500 pe-0" aria-hidden="true"></i>
                            </div>
                            <div class="form-group icon-input mb-2">
                                <input type="password" [class.is-invalid]="validarCampos('password')" formControlName="password" class=" ps-5 form-control text-grey-900 font-xss ls-3" placeholder="Contraseña">
                                <i class="fas fa-key font-sm text-grey-500 pe-0" aria-hidden="true"></i>
                            </div>
                        </form>
                        <div class="col-sm-12 p-0 text-left mt-2">
                            <div class="form-group mb-1"><button (click)="entrar()" class="form-control text-center  text-white fw-600 bg-primary border-0 p-0 ">Ingresar</button></div>
                            <h6 class="text-grey-500 font-xsss fw-500 mt-0 mb-0 lh-32">No tienes una cuenta? <a routerLink="/register" class="fw-700 ms-1">Registrate</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>