<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UPC.SOCIALNET.BL.Properties.Settings.upcConnectionString"
            connectionString="Data Source=upcmss.ci7xrsqtmjaw.sa-east-1.rds.amazonaws.com;Initial Catalog=upc;Persist Security Info=True;User ID=admin;Password=upcmss2021"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>