<section class="section-pagetop bg-light">
    <div class="container">
        <h2 class="title-page">Mis Pedidos</h2>
    </div>
    <!-- container //  -->
</section>

<div class="container">
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">

            <div class="row">
                <aside class="col-md-3 mb-2 mb-sm-2 mb-md-0">
                    <nav class="list-group">
                        <a class="list-group-item active" href="#"> <i class="fas fa-shopping-basket"></i> Mis pedidos </a>
                        <a class="list-group-item" href="#"> <i class="fas fa-sign-out-alt"></i> Cerrar sesión </a>
                    </nav>
                </aside>
                <!-- col.// -->
                <main class="col-md-9">

                    <article class="card mb-4">
                        <header class="card-header">
                            <a href="#" class="float-right"> <i class="fa fa-print"></i> Imprimir</a>
                            <strong class="d-inline-block mr-3">Historial de pedidos realizados</strong>
                            <small class="form-text text-muted">Solo se mostrarán los 10 últimos pedidos</small>
                        </header>
                        <!-- card-body .// -->
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    <tr class="border-bottom">
                                        <td width="65" class="text-center border-right">
                                            <img src="https://dummyimage.com/120x70/eba7eb/29082e.png" class="img-sm border">
                                            <span class="badge badge-success  font-weight-bold text-dark">Ver resumen</span>
                                        </td>
                                        <td colspan="4">
                                            <div class="position-relative">
                                                <ul class="wizard-pedido">
                                                    <li class="active text-center">
                                                        <i class="fas fa-receipt"></i>
                                                        <strong>Pedido Registrado</strong></li>
                                                    <li class="text-center">
                                                        <i class="fas fa-people-carry"></i>
                                                        <strong>En Preparación</strong></li>
                                                    <li class="text-center">
                                                        <i class="fas fa-shipping-fast"></i>
                                                        <strong>En Camino</strong></li>
                                                    <li class="text-center">
                                                        <i class="far fa-thumbs-up"></i>
                                                        <strong>Entregado</strong></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <td width="65" class="text-center border-right">
                                            <img src="https://dummyimage.com/120x70/eba7eb/29082e.png" class="img-sm border">
                                            <span class="badge badge-success  font-weight-bold text-dark">Ver resumen</span>
                                        </td>
                                        <td>
                                            <var class="price text-muted">Fecha</var>
                                            <p class="title mb-0">Jueves, 11 de Marzo de 2021</p>
                                        </td>
                                        <td>
                                            <var class="price text-muted">Cantidad</var>
                                            <p class="title mb-0">5</p>
                                        </td>
                                        <td>
                                            <var class="price text-muted">Total venta</var>
                                            <p class="title mb-0">S/. 190.00</p>
                                        </td>
                                        <td width="250" class="text-center">
                                            <!-- <a href="#" class="btn btn-outline-primary text-uppercase">atendido</a> -->
                                            <h4><span class="badge badge-success font-weight-normal">Atendido</span></h4>
                                        </td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <td width="65" class="text-center border-right">
                                            <img src="https://dummyimage.com/120x70/eba7eb/29082e.png" class="img-sm border">
                                            <span class="badge badge-success  font-weight-bold text-dark">Ver resumen</span>
                                        </td>
                                        <td>
                                            <var class="price text-muted">Fecha</var>
                                            <p class="title mb-0">Jueves, 11 de Marzo de 2021</p>
                                        </td>
                                        <td>
                                            <var class="price text-muted">Cantidad</var>
                                            <p class="title mb-0">5</p>
                                        </td>
                                        <td>
                                            <var class="price text-muted">Total venta</var>
                                            <p class="title mb-0">S/. 190.00</p>
                                        </td>
                                        <td width="250" class="text-center">
                                            <!-- <a href="#" class="btn btn-outline-primary text-uppercase">atendido</a> -->
                                            <h4><span class="badge badge-info font-weight-normal">Anulado</span></h4>
                                        </td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <td width="65" class="text-center border-right">
                                            <img src="https://dummyimage.com/120x70/eba7eb/29082e.png" class="img-sm border">
                                            <span class="badge badge-success  font-weight-bold text-dark">Ver resumen</span>
                                        </td>
                                        <td>
                                            <var class="price text-muted">Fecha</var>
                                            <p class="title mb-0">Jueves, 11 de Marzo de 2021</p>
                                        </td>
                                        <td>
                                            <var class="price text-muted">Cantidad</var>
                                            <p class="title mb-0">5</p>
                                        </td>
                                        <td>
                                            <var class="price text-muted">Total venta</var>
                                            <p class="title mb-0">S/. 190.00</p>
                                        </td>
                                        <td width="250" class="text-center">
                                            <!-- <a href="#" class="btn btn-outline-primary text-uppercase">atendido</a> -->
                                            <h4><span class="badge badge-success font-weight-normal">Atendido</span></h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive .end// -->
                    </article>
                    <!-- card order-item .// -->


                </main>
                <!-- col.// -->
            </div>


        </div>
        <!-- container .//  -->
    </section>


    <!-- ========================= SECTION CONTENT END// ========================= -->
</div>