/*------------------------------------
- COLOR danger
------------------------------------*/

.alert-danger {
    color: #890002;
    background-color: #ffd1d1;
    border-color: #ffbcbd;
}

.alert-danger hr {
    border-top-color: #ffa3a4;
}

.alert-danger .alert-link {
    color: #560001;
}

.badge-danger {
    color: #fff;
    background-color: #ff0509;
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
    color: #fff;
    background-color: #d10003;
}

.bg-danger {
    background-color: #ff0509 !important;
}

a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
    background-color: #d10003 !important;
}

.border-danger {
    border-color: #ff0509 !important;
}

.btn-danger {
    color: #fff;
    background-color: #ff0509;
    border-color: #ff0509;
}

.btn-danger:hover {
    color: #fff;
    background-color: #e00003;
    border-color: #d10003;
}

.btn-danger:focus,
.btn-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 5, 9, 0.5);
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #fff;
    background-color: #ff0509;
    border-color: #ff0509;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #d10003;
    border-color: #c10003;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 5, 9, 0.5);
}

.btn-outline-danger {
    color: #ff0509;
    background-color: transparent;
    border-color: #ff0509;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #ff0509;
    border-color: #ff0509;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 5, 9, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
    color: #ff0509;
    background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #ff0509;
    border-color: #ff0509;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 5, 9, 0.5);
}

.list-group-item-danger {
    color: #890002;
    background-color: #ffbcbd;
}

.list-group-item-danger.list-group-item-action:hover,
.list-group-item-danger.list-group-item-action:focus {
    color: #890002;
    background-color: #ffa3a4;
}

.list-group-item-danger.list-group-item-action.active {
    color: #fff;
    background-color: #890002;
    border-color: #890002;
}

.table-danger,
.table-danger>th,
.table-danger>td {
    background-color: #ffbcbd;
}

.table-hover .table-danger:hover {
    background-color: #ffa3a4;
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
    background-color: #ffa3a4;
}

.text-danger {
    color: #ff0509 !important;
}

a.text-danger:hover,
a.text-danger:focus {
    color: #d10003 !important;
}