/*------------------------------------
- COLOR light
------------------------------------*/

.alert-light {
    color: #db6458;
    background-color: #11415d165;
    border-color: #11114d154;
}

.alert-light hr {
    border-top-color: #10c13a13f;
}

.alert-light .alert-link {
    color: #d23d2d;
}

.badge-light {
    color: #212529;
    background-color: #F1C2BD;
}

.badge-light[href]:hover,
.badge-light[href]:focus {
    color: #212529;
    background-color: #e89b92;
}

.bg-light {
    background-color: #F1C2BD !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background-color: #e89b92 !important;
}

.border-light {
    border-color: #F1C2BD !important;
}

.btn-light {
    color: #212529;
    background-color: #F1C2BD;
    border-color: #F1C2BD;
}

.btn-light:hover {
    color: #212529;
    background-color: #eaa69f;
    border-color: #e89b92;
}

.btn-light:focus,
.btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(241, 194, 189, 0.5);
}

.btn-light.disabled,
.btn-light:disabled {
    color: #212529;
    background-color: #F1C2BD;
    border-color: #F1C2BD;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
    color: #212529;
    background-color: #e89b92;
    border-color: #e58f86;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(241, 194, 189, 0.5);
}

.btn-outline-light {
    color: #F1C2BD;
    background-color: transparent;
    border-color: #F1C2BD;
}

.btn-outline-light:hover {
    color: #212529;
    background-color: #F1C2BD;
    border-color: #F1C2BD;
}

.btn-outline-light:focus,
.btn-outline-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(241, 194, 189, 0.5);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
    color: #F1C2BD;
    background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #F1C2BD;
    border-color: #F1C2BD;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(241, 194, 189, 0.5);
}

.list-group-item-light {
    color: #db6458;
    background-color: #11114d154;
}

.list-group-item-light.list-group-item-action:hover,
.list-group-item-light.list-group-item-action:focus {
    color: #db6458;
    background-color: #10c13a13f;
}

.list-group-item-light.list-group-item-action.active {
    color: #212529;
    background-color: #db6458;
    border-color: #db6458;
}

.table-light,
.table-light>th,
.table-light>td {
    background-color: #11114d154;
}

.table-hover .table-light:hover {
    background-color: #10c13a13f;
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
    background-color: #10c13a13f;
}

.text-light {
    color: #F1C2BD !important;
}

a.text-light:hover,
a.text-light:focus {
    color: #e89b92 !important;
}

.btn-light.active i {
    color: #EFB4B2!important;
}