/*------------------------------------
- COLOR primary
------------------------------------*/

.alert-primary {
    color: #3b0213;
    background-color: #fa89aa;
    border-color: #f9769c;
}

.alert-primary hr {
    border-top-color: #f85d8b;
}

.alert-primary .alert-link {
    color: #0a0003;
}

.badge-primary {
    color: #fff;
    background-color: #b10739;
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
    color: #fff;
    background-color: #7f0529;
}

.bg-primary {
    background-color: #b10739 !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #7f0529 !important;
}

.border-primary {
    border-color: #b10739 !important;
}

.btn-primary {
    color: #fff;
    background-color: #b10739;
    border-color: #b10739;
}

.btn-primary:hover {
    color: #fff;
    background-color: #8e052d;
    border-color: #7f0529;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(177, 7, 57, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #b10739;
    border-color: #b10739;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #7f0529;
    border-color: #710424;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(177, 7, 57, 0.5);
}

.btn-outline-primary {
    color: #b10739;
    background-color: transparent;
    border-color: #b10739;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #b10739;
    border-color: #b10739;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(177, 7, 57, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #b10739;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #b10739;
    border-color: #b10739;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(177, 7, 57, 0.5);
}

.list-group-item-primary {
    color: #3b0213;
    background-color: #f9769c;
}

.list-group-item-primary.list-group-item-action:hover,
.list-group-item-primary.list-group-item-action:focus {
    color: #3b0213;
    background-color: #f85d8b;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #3b0213;
    border-color: #3b0213;
}

.table-primary,
.table-primary>th,
.table-primary>td {
    background-color: #f9769c;
}

.table-hover .table-primary:hover {
    background-color: #f85d8b;
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
    background-color: #f85d8b;
}

.text-primary {
    color: #b10739 !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #7f0529 !important;
}