<div class="container">
    <section class="section-content padding-y">

        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
            <div class="card-body">
                <div class="col-xl-2 col-lg-3 col-md-12 mb-2">
                    <img class="rounded mx-auto d-block" src="https://dummyimage.com/299x75/000/fff.png">
                </div>
                <h5 class="card-title mb-4 d-block text-center">Cake App</h5>
                <form>
                    <div class="form-group">
                        <label>Correo electrónico</label>
                        <input name="" class="form-control" placeholder="Correo electrónico" type="text">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input name="" class="form-control" placeholder="Contraseña" type="password">
                    </div>
                    <!-- form-group// -->

                    <!-- form-group form-check .// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase"> entrar  </button>
                    </div>
                    <!-- form-group// -->
                </form>
            </div>
            <!-- card-body.// -->
        </div>

        <p class="text-center mt-4">¿No tienes una cuenta? <a routerLink="/register" class="initialism">Registrate</a></p>
        <br><br>

    </section>
</div>