<app-info-user></app-info-user>
<!-- Aptitudes Blanda -->
<div class="col-xl-12 col-xxl-12 col-lg-12">
    <div class="card w-100 shadow-xss rounded-xxl border-0 ps-4 pt-4 pe-4 pb-3 mb-3 mt-3">
        <div class="card-body p-0">
            <h4 class=" font-xss fw-600 text-black card-body p-0 d-flex align-items-center">
                <i class="fa fa-lightbulb btn-round-sm font-xs text-warning   me-2 bg-greylight" aria-hidden="true"></i> Aptitudes Blandas</h4>
        </div>
        <div class="card-body p-0 mt-3 position-relative">
            <input type="text" class="form-control ">
        </div>
        <div class="card-body p-0 mt-4">

            <h3 class="d-inline-block">
                <span class="badge badge-light text-grey-700 fw-500 me-2">Java Spring <a href="#"
          class="font-xssss text-danger fw-700 align-items-center ">x</a></span>
            </h3>

            <h3 class="d-inline-block">
                <span class="badge badge-light text-grey-700 fw-500 me-2">Python <a href="#"
          class="font-xssss text-danger fw-700 align-items-center ">x</a></span>
            </h3>

            <h3 class="d-inline-block">
                <span class="badge badge-light text-grey-700 fw-500 me-2">Base de Datos SQL Server <a href="#"
          class="font-xssss  text-danger fw-700 align-items-center ">x</a></span>
            </h3>

            <h3 class="d-inline-block">
                <span class="badge badge-light text-grey-700 fw-500 me-2">Trabajo en Equipo <a href="#"
          class="font-xssss  text-danger fw-700 align-items-center ">x</a></span>
            </h3>

            <h3 class="d-inline-block">
                <span class="badge badge-light text-grey-700 fw-500 me-2">Testing <a href="#"
          class="font-xssss text-danger fw-700 align-items-center ">x</a></span>
            </h3>

        </div>
    </div>
</div>

<!-- Aptitudes Tecnicas -->
<div class="card w-100 shadow-xss rounded-xxl border-0 ps-4 pt-4 pe-4 pb-3 mb-3 mt-3">
    <div class="card-body p-0">
        <h4 class=" font-xss fw-600 text-black card-body p-0 d-flex align-items-center">
            <i class="fa fa-lightbulb btn-round-sm font-xs text-warning   me-2 bg-greylight" aria-hidden="true"></i> Aptitudes Técnicas</h4>
    </div>
    <div class="card-body p-0 mt-3 position-relative">
        <input type="text" class="form-control ">
    </div>
    <div class="card-body p-0 mt-4">

        <h3 class="d-inline-block">
            <span class="badge badge-light text-grey-700 fw-500 me-2">Java Spring <a href="#" class="font-xssss text-danger fw-700 align-items-center ">x</a></span>
        </h3>

        <h3 class="d-inline-block">
            <span class="badge badge-light text-grey-700 fw-500 me-2">Python <a href="#" class="font-xssss text-danger fw-700 align-items-center ">x</a></span>
        </h3>

        <h3 class="d-inline-block">
            <span class="badge badge-light text-grey-700 fw-500 me-2">Base de Datos SQL Server <a href="#" class="font-xssss  text-danger fw-700 align-items-center ">x</a></span>
        </h3>

        <h3 class="d-inline-block">
            <span class="badge badge-light text-grey-700 fw-500 me-2">Trabajo en Equipo <a href="#" class="font-xssss  text-danger fw-700 align-items-center ">x</a></span>
        </h3>

        <h3 class="d-inline-block">
            <span class="badge badge-light text-grey-700 fw-500 me-2">Testing <a href="#" class="font-xssss text-danger fw-700 align-items-center ">x</a></span>
        </h3>

    </div>
</div>