<div class="card w-100 border-0 p-0 bg-white shadow-xss rounded-xxl">
    <div class="card-body p-4 w-100 bg-current border-0 d-flex rounded-3">
        <a href="#" class="d-inline-block mt-2">
            <i class="fas fa-user-edit font-sm text-white"></i>
        </a>
        <h4 class="font-xs text-white fw-600 ms-4 mb-0 mt-2">Editar cuenta</h4>
    </div>
    <div class="card-body p-lg-5 p-4 w-100 border-0 ">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-4 text-center">
                <figure class="avatar ms-auto me-auto mb-0 mt-2 w100"><img src="https://dummyimage.com/370x370/000/fff.png" alt="image" class="shadow-sm rounded-3 w-100"></figure>
                <h2 class="fw-700 font-sm text-grey-900 mt-3">{{ usuarioInfo?.nombres }} {{ usuarioInfo?.apePaterno }}</h2>
                <h4 class="text-grey-500 fw-500 mb-3 font-xsss mb-4">Universidad Peruana de Ciencias Aplicadas</h4>
                <a href="#" class="p-3 alert-primary text-primary font-xsss fw-500 mt-2 rounded-3">
                    <i class="btn feather-camera font-md text-primary "></i> Seleccionar foto
                </a>
            </div>
        </div>
        <form [formGroup]="formulario">
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Carrera / Especialidad</label>
                        <input formControlName="carrera" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Sede</label>
                        <input formControlName="sede" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Nombres</label>
                        <input formControlName="nombre" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Apellido Paterno</label>
                        <input formControlName="apPaterno" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Apellido Materno</label>
                        <input formControlName="apMaterno" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Alias</label>
                        <input formControlName="alias" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Sexo</label>
                        <select formControlName="sexo" class="form-control ">
                            <option value="">--- Sexo --</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Teléfono</label>
                        <input formControlName="telefono" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="form-group">
                        <label class="mont-font fw-600 font-xsss">Fecha Nacimiento</label>
                        <input formControlName="fechaNac" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="button" (click)="guardar()" class="btn bg-current text-center text-white font-xsss fw-600 p-3 w175 rounded-3 d-inline-block">Guardar Cambios</button>
                </div>
            </div>
        </form>

    </div>
</div>