<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/feather.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
</head>

<body class="color-theme-lightblue ">
    <div class="main-wrapper">
        <!-- navigation top-->
        <app-header></app-header>

        <!-- navigation left -->
        <app-sidebar></app-sidebar>

        <div class="main-content right-chat-active">
            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left pe-0">
                    <div class="row">
                        <div class="col-xl-12">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>