<nav class="navigation scroll-bar">
    <div class="container ps-0 pe-0">
        <div class="nav-content">
            <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                <div class="nav-caption fw-600 font-xssss text-grey-500">
                    <span>Opciones </span>Generales
                </div>
                <ul class="mb-1 top-content">
                    <li class="logo d-none d-xl-block d-lg-block"></li>
                    <li>
                        <a href="#" class="nav-content-bttn open-font"><i
                                class="fa fa-university btn-round-md bg-blue-gradiant me-3" aria-hidden="true"></i>
                            <span>Universidades</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-content-bttn open-font"><i
                                class="fas fa-users btn-round-md bg-red-gradiant me-3"></i>
                            <span>Grupos</span></a>
                    </li>
                </ul>
            </div>
            <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1">
                <div class="nav-caption fw-600 font-xssss text-grey-500">
                    <span></span> Mi cuenta
                </div>
                <ul class="mb-1">
                    <li class="logo d-none d-xl-block d-lg-block"></li>
                    <li>
                        <a routerLink="user/aptitud" routerLinkActive="active" class="nav-content-bttn open-font h-auto pt-2 pb-2"><i
                                class="fa fa-bullhorn font-sm me-3 text-grey-500" aria-hidden="true"></i>
                            <span>Aptitudes</span>
                        </a>
                    </li>

                    <li>
                        <a routerLink="/login" class="nav-content-bttn open-font h-auto pt-2 pb-2"><i
                                class="fas fa-sign-out-alt font-sm me-3 text-grey-500"></i>
                            <span>Salir</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>